/* Coolors Exported Palette - https://coolors.co/ff6f00-084c61-4f6d7a-56a3a6-e1e6e1 */

:root {
    /* CSS HEX */
    --pumpkin: #ff6f00ff;
    --midnight-green-eagle-green: #084c61ff;
    --cadet: #4f6d7aff;
    --cadet-blue: #56a3a6ff;
    --platinum: #e1e6e1ff;

    /* CSS HSL */
    --pumpkin: hsla(26, 100%, 50%, 1);
    --midnight-green-eagle-green: hsla(194, 85%, 21%, 1);
    --cadet: hsla(198, 21%, 39%, 1);
    --cadet-blue: hsla(182, 32%, 49%, 1);
    --platinum: hsla(120, 9%, 89%, 1);
}

/* SCSS HEX */
$pumpkin: #ff6f00ff;
$midnight-green-eagle-green: #084c61ff;
$cadet: #4f6d7aff;
$cadet-blue: #56a3a6ff;
$platinum: #e1e6e1ff;

/* SCSS HSL */
$pumpkin: hsla(26, 100%, 50%, 1);
$midnight-green-eagle-green: hsla(194, 85%, 21%, 1);
$cadet: hsla(198, 21%, 39%, 1);
$cadet-blue: hsla(182, 32%, 49%, 1);
$platinum: hsla(120, 9%, 89%, 1);

/* SCSS RGB */
$pumpkin: rgba(255, 111, 0, 1);
$midnight-green-eagle-green: rgba(8, 76, 97, 1);
$cadet: rgba(79, 109, 122, 1);
$cadet-blue: rgba(86, 163, 166, 1);
$platinum: rgba(225, 230, 225, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ff6f00ff, #084c61ff, #4f6d7aff, #56a3a6ff, #e1e6e1ff);
$gradient-right: linear-gradient(90deg, #ff6f00ff, #084c61ff, #4f6d7aff, #56a3a6ff, #e1e6e1ff);
$gradient-bottom: linear-gradient(180deg, #ff6f00ff, #084c61ff, #4f6d7aff, #56a3a6ff, #e1e6e1ff);
$gradient-left: linear-gradient(270deg, #ff6f00ff, #084c61ff, #4f6d7aff, #56a3a6ff, #e1e6e1ff);
$gradient-top-right: linear-gradient(45deg, #ff6f00ff, #084c61ff, #4f6d7aff, #56a3a6ff, #e1e6e1ff);
$gradient-bottom-right: linear-gradient(135deg, #ff6f00ff, #084c61ff, #4f6d7aff, #56a3a6ff, #e1e6e1ff);
$gradient-top-left: linear-gradient(225deg, #ff6f00ff, #084c61ff, #4f6d7aff, #56a3a6ff, #e1e6e1ff);
$gradient-bottom-left: linear-gradient(315deg, #ff6f00ff, #084c61ff, #4f6d7aff, #56a3a6ff, #e1e6e1ff);
$gradient-radial: radial-gradient(#ff6f00ff, #084c61ff, #4f6d7aff, #56a3a6ff, #e1e6e1ff);
