@import './colors';
/* 
* Light Theme
*/
@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: var(--grey-50);
        --main-text-color: var(--grey-700);
        --outline-color: var(--grey-300);
        --outline-color-disabled: var(--grey-200);
        --bg-disabled: var(--grey-100);
        --text-disabled: var(--grey-300);
    }
}

/* 
* Dark Theme
*/
@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: var(--grey-900);
        --main-text-color: var(--grey-100);
        --outline-color: var(--grey-500);
        --outline-color-disabled: var(--grey-600);
        --bg-disabled: var(--grey-700);
        --text-disabled: var(--grey-500);
    }
}
