@import './colors';
/* 
* Light Theme
*/
@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: var(--grey-50);
        --main-text-color: var(--grey-500);
    }
}

/* 
* Dark Theme
*/
@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: var(--grey-900);
        --main-text-color: var(--grey-300);
    }
}
