.#{$prefix}-checkbox {
    position: relative;
    input[type="checkbox"] {
        display: none;
        & + label {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            font-weight: 400;
            color: var(--main-text-color);
            cursor: pointer;
            &:before {
                content: "";
                display: inline-block;
                height: 22px;
                width: 22px;
                border: 2px solid var(--outline-color);
                border-radius: 4px;
                background-color: var(--white);
                &:focus {
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--primary-100);
                }
            }
        }
        &:checked {
            & + label {
                &:before {
                    border-color: var(--primary-400);
                }
                & + span {
                    position: absolute;
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid var(--primary-400);
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }
            }
            &:disabled {
                & + label {
                    &:before {
                        border-color: var(--outline-color-disabled);
                        background-color: var(--bg-disabled);
                    }
                    & + span {
                        border-color: var(--outline-color-disabled);
                    }
                }
            }
        }
        &:disabled {
            & + label {
                cursor: not-allowed;
                color: var(--text-disabled);
                &:before {
                    border-color: var(--outline-color-disabled);
                }
            }
        }
    }
}
