.#{$prefix}-checkbox {
    position: relative;
    input[type="checkbox"] {
        display: none;
        & + label {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            font-weight: 400;
            color: var(--md-sys-color-on-background);
            cursor: pointer;
            &:before {
                content: "";
                display: inline-block;
                height: 22px;
                width: 22px;
                border: 2px solid var(--md-sys-color-primary);
                border-radius: 4px;
                background-color: transparent;
            }
        }
        &:checked {
            & + label {
                &:before {
                    background-color: var(--md-sys-color-primary);
                }
                & + span {
                    position: absolute;
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid var(--md-sys-color-on-primary);
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }
            }
        }
    }
}
